
/*
=============== 
FONTS
===============
*/

@font-face {
  font-family: "montserrat";
  src: url("../fonts/Montserrat-SemiBold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("../fonts/Montserrat-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

/*
=============== 
GLOBALS
===============
*/

:root {
  --clr-primary: #d9832e;
  --clr-primary-2: #a35a11;
  --clr-secondary: ghostwhite;
  --transition: all 0.3s linear;
  --spacing: 0.2rem;
  --radius: 0.25rem;
  --shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

*,
*::before,
*::after{
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "montserrat", sans-serif !important;
  margin: 0;
}

span,
a {
  font-family: "montserrat", sans-serif;
}

a {
  font-weight: 300;
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  padding: 0;
}

.p-100px-tb {
  padding-top: 100px;
  padding-bottom: 100px;
}


.bg-alternate {
  background: var(--clr-secondary);
}

.full-screen {
  min-height: 100vh;
}



/* @media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1500px) {
  .container {
    max-width: 1420px;
  }
} */


/* social links */
.social-links {
  display: flex;
  justify-content: space-between;
  width: 6rem;
}

.social-link {
  font-size: 1.75rem;
  color: black;
  transition: var(--transition);
}
.social-link:hover {
  color: var(--clr-primary-2);
}

.section-title {
  display: inline-block;
  position: relative;
  font-size: 40px;
  font-weight: bold;
  z-index: 1;
}

/* .section-title:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 2px;
  z-index: 1;
  background: var(--clr-primary);
  width: 50px;
} */
.section-title:after {
  content: ".";
  position: absolute;
  right: -10px;
  z-index: 1;
  color: var(--clr-primary);
}

.section-subtitle {
  text-transform: uppercase;
  color: #090a0c;
  letter-spacing: var(--spacing);
}

.fab {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 5%;
  right: 5%;
  background: var(--clr-primary);
  box-shadow: var(--shadow);
  border-radius: 50%;
  color: white;
  transition: var(--transition);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  z-index: 99;

}

.fab.visible {
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;

}

.fab:hover {
  background: var(--clr-primary-2);
  color: white;
}

/*
=============== 
HERO
===============
*/

/* .hero-center {
  display: grid;
  align-items: center;
}

.hero-info {
  z-index: 1;
  margin-bottom: 15px;
}

@media screen and (min-width: 992px) {
  .hero-img {
    display: block;
    grid-row: 1/1;
    grid-column: 7/-1;
  }
  .hero-center {
    grid-template-columns: repeat(12, 1fr);
  }
  .hero-info {
    grid-row: 1/1;
    grid-column: 1 / span 8;
  }
}

@media screen and (min-width: 576px) {
  .hero-info {
    margin-bottom: 0;
  }
}

.hero {
  position: relative;
}

.hero p {
  margin: 0;
}

.hero h6 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
}

.hero h1 {
  font-size: 60px;
  font-weight: 700;
}

.hero h3 {
  font-size: 40px;
  font-weight: 300;
} */

/* .btn-bar {
  padding-top: 40px;
} */
/* .hero .btn-bar a {
  min-width: 120px;
  margin-right: 12px;
} */

.m-btn {
  font-family: "poppins", sans-serif;
  font-weight: 700;
  display: inline-block;
  border: 2px solid transparent;
  color: inherit;
  line-height: inherit;
  letter-spacing: 0.1rem;
  border-radius: 0;
  width: auto;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  -moz-transition: ease-in-out all 0.55s;
  -o-transition: ease-in-out all 0.55s;
  -webkit-transition: ease-in-out all 0.55s;
  transition: ease-in-out all 0.55s;
  text-align: center;
  text-decoration: none;
}

.m-btn.m-btn-theme {
  background: var(--clr-primary);
  color: black;
  border-color: var(--clr-primary);
}

.m-btn.m-btn-theme:hover {
  background: #090a0c;
  border-color: #090a0c;
  color: white;
}

.m-btn.m-btn-t-theme {
  background: transparent;
  color: var(--clr-primary);
  border-color: var(--clr-primary);
}

.m-btn.m-btn-t-theme:hover {
  background: var(--clr-primary);
  border-color: var(--clr-primary);
  color: black;
}

.icon-scroll-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 5%;
  left: 0;
}

.icon-scroll {
  width: 20px;
  height: 35px;
  box-shadow: inset 0 0 0 1.5px rgb(107, 107, 107);
  border-radius: 25px;
  /* margin-left: auto;
  margin-right: auto; */
}

@media screen and (max-width:768px){
  .icon-scroll-container {
    display: none;
  }
}

.icon-scroll:before {
  display: block;
  content: "";
  width: 4px;
  height: 8px;
  background: black;
  margin-left: 8px;
  margin-top: 3px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(23px);
  }
}

/*
=============== 
PROJECTS
===============
*/
.projects-container {
  padding-top: 4rem;
}

.project {
  display: grid;
  margin-bottom: 5rem;
  box-shadow: var(--shadow);
}

.projects-container article:last-of-type{
margin-bottom: 0;
}


.project-img-frame {
  /* height: 15rem; */
  overflow: hidden;
}

.project-img {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  z-index: 1;
  transition: 0.5s ease-in-out;
}
.project-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, black, #222);
  opacity: 0.3;
  transition: 0.5s ease-in-out;
}

.project:hover .project-img {
  transform: scale(1.05);
}

.project:hover .project-img::after {
  opacity: 0;
}
.project-info {
  background: white;
  padding: 1rem 2rem;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  align-self: flex-end;
  margin-bottom: 0;
}

.project-info h3 {
  font-size: 36px;
  margin-bottom: 1.5rem;
  text-transform: capitalize;
  color: var(--clr-grey-1);
  transition: var(--transition);
}
.project-info h3:hover {
  color: var(--clr-primary-2);
}

.project-stack {
  margin-bottom: 1rem;
}

.project-stack span:first-of-type {
  margin-left: 0;
}
.project-stack span {
  display: inline-block;
  background: var(--clr-primary);
  color: black;
  margin: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
}


@media screen and (min-width: 992px) {
  .project {
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    box-shadow: none;
  }
  .project-img-frame {
    grid-column: 1 / span 8;
    grid-row: 1 / 1;
    /* height: 26rem; */
    border-radius: var(--radius);
    box-shadow: var(--shadow);
  }

  .project-info {
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    z-index: 1;
    grid-column: 6 /12;
    grid-row: 1 / 1;
    margin-bottom: 2rem;

  }
  .project:nth-of-type(even) .project-img-frame {
    grid-column: 6 / -1;
    grid-row: 1 / 1;
  }
  .project:nth-of-type(even) .project-info {
    grid-column: 2 / span 6;
    grid-row: 1 / 1;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .project-img-frame {
    /* height: 30rem; */
  }
}

/*
=============== 
STACK
===============
*/

.icon-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 3rem;
  justify-items: center;
}

@media screen and (max-width: 992px) {
  .icon-container {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .icon-container {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0;
    justify-items: start;
  }
}

/*
=============== 
ABOUT
===============
*/

.about-img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),
    1rem 1rem 0 0 var(--clr-primary);
}

.about-info {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-info h3 {
  font-size: 36px;
}
.about-info h4 {
  font-size: 24px;
  font-weight: 300;
}

.about-info p:first-of-type {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.about-info p:last-of-type {
  margin-bottom: 2rem;
}

.about-info button {
  width: 180px;
}

.about-info span {
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .about-info {
    padding-left: 3rem;
    padding-top: 0;
  }
}

/*
=============== 
CONTACT
===============
*/

.form-group {
  margin-bottom: 1rem;
}

.toast {
  position: fixed;
  top: 10vh;
  left: 50%;
  transform: translate(-50%, 0);
  fill-opacity: 0.5;
}

.square {
  height: 15px;
  width: 15px;
}

.footer {
  padding: 12px 0;
  background: #111;
}

.footer-links {
  width: 8rem;
  font-size: 14px;
}
.footer-links a {
  color: gray;
}

.contact-pic {
  right: 5%;
  bottom: -24%;
  width: 200px;
  z-index: -1;
}

@media screen and (max-width: 992px) {
  .contact-pic {
    display: none;
  }
}
