/* @import url("https://fonts.googleapis.com/css?family=Montserrat"); */

@font-face {
  font-family: "poppins";
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppins";
  src: url("../fonts/Poppins-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

:root {
  --clr-primary: #d9832e;
  --clr-primary-2: #a35a11;
  --transition: all 0.3s linear;
  --spacing: 0.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "poppins", sans-serif !important;
}

p,
span,
a {
  font-family: "poppins", sans-serif;
}

a {
  font-weight: 300;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.p-100px-tb {
  padding-top: 100px;
  padding-bottom: 100px;
}

.full-screen {
  min-height: 100vh;
}

.container {
  max-width: 1140px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* social links */
.social-links {
  display: flex;
  justify-content: space-between;
}

.hero-icons{
  width: 6rem;

}
.social-link {
  font-size: 1.75rem;
  color: black;
  transition: var(--transition);
}
.social-link:hover {
  color: var(--clr-primary-2);
}

.hero-center {
  display: grid;
  align-items: center;
}

.hero-info {
  z-index: 1;
  margin-bottom: 15px;
}

.hero-icons{

}

@media screen and (min-width: 992px) {
  .hero-img {
    display: block;
    grid-row: 1/1;
    grid-column: 7/-1;
  }
  .hero-center {
    grid-template-columns: repeat(12, 1fr);
  }
  .hero-info {
    grid-row: 1/1;
    grid-column: 1 / span 8;
  }
}

@media screen and (min-width: 576px) {

  .hero-info {
    margin-bottom: 0;
  }
}

.home-banner-01 {
  position: relative;
}

.home-banner-01 p {
  margin: 0;
}

.home-banner-01 h6 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
}

.home-banner-01 h1 {
  font-size: 60px;
  font-weight: 700;
}

.home-banner-01 h2 {
  font-size: 40px;
  font-weight: 300;
}
/* 
.hero-img{
    width: 110%;
} */

.btn-bar {
  padding-top: 25px;
}
.home-banner-01 .btn-bar a {
  min-width: 120px;
  margin-right: 12px;
}

.m-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  display: inline-block;
  border: 2px solid transparent;
  color: inherit;
  line-height: inherit;
  border-radius: 0;
  width: auto;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  -moz-transition: ease-in-out all 0.55s;
  -o-transition: ease-in-out all 0.55s;
  -webkit-transition: ease-in-out all 0.55s;
  transition: ease-in-out all 0.55s;
  text-align: center;
  text-decoration: none;
}

.m-btn.m-btn-theme {
  background: var(--clr-primary);
  color: #ffffff;
  border-color: var(--clr-primary);
}

.m-btn.m-btn-theme:hover {
  background: #090a0c;
  border-color: #090a0c;
}

.m-btn.m-btn-t-theme {
  background: transparent;
  color: var(--clr-primary);
  border-color: var(--clr-primary);
}

.m-btn.m-btn-t-theme:hover {
  background: var(--clr-primary);
  border-color: var(--clr-primary);
  color: #ffffff;
}

.icon-scroll-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 5%;
  left: 0;
}

.icon-scroll {
  width: 20px;
  height: 35px;
  box-shadow: inset 0 0 0 1.5px black;
  border-radius: 25px;
  /* margin-left: auto;
  margin-right: auto; */
}

.icon-scroll:before {
  display: block;
  content: "";
  width: 4px;
  height: 8px;
  background: black;
  margin-left: 8px;
  margin-top: 3px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(23px);
  }
}
