/*
=============== 
Navbar
===============
*/

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  z-index: 200;
  background: white;
  transition: 0.5s ease-in-out;
}

.navbar.scrolled{
  height: 4rem;
box-shadow: var(--shadow);
}

.nav-header {
  width: 100%;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-header img {
  margin-bottom: 0.375rem;
}
.navbar .toggle-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary);
  cursor: pointer;
  transition: var(--transition);
}
.navbar .toggle-btn:hover {
  color: var(--clr-primary-2);
}
.nav-links {
  display: none;
}

.navbar .logo {
  font-size: 36px;
  font-weight: 700;
  color: black;
}
.navbar .logo-period {
  color: var(--clr-primary);
}

@media screen and (min-width: 768px) {
  .navbar .toggle-btn {
    display: none;
  }
  .nav-links {
    display: flex;
    justify-content: flex-end;
  }

  .nav-link, .nav-link:focus {
    margin-right: 2rem;
    text-transform: uppercase;
    color: black;
    letter-spacing: 0.15rem;
    transition: var(--transition);
    padding: 0.5rem 0;
    font-size: 14px;
    font-weight: 400;
  }
  .nav-link:hover {
    color: var(--clr-primary-2);
    box-shadow: 0px 2px var(--clr-primary-2);
  }

  .nav-link.active{
    color: var(--clr-primary);
  }

.nav-links li:last-of-type a{
  margin-right: 0;
  font-weight: 700;
}

  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
  .nav-header{
      width: auto;
  }
}

@media screen and (max-width: 992px) {
  .nav-link {
margin-right: 1rem;
  }
}
